a {
  text-decoration: none;
  color: #e5e5e5;
}

a {
  margin-bottom: 5px;
}

@media screen and (max-width: 200px) {
  a {
    font-size: 30px;
  }
  strong {
    font-size: 30px;
  }
}